<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<p id="notice"><%= notice %></p>

<h1>My Review Food Articles</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Content</th>
    <th>Rating</th>
    <th>Price</th>
    <th>Food Type</th>
    <th>Location</th>
    <th>Approved</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @revarticles.each do |revarticle| %>
    <tr>
      <td><%= revarticle.id %></td>
      <td><%= revarticle.title %></td>
      <td><%= revarticle.content %></td>
      <td><%= revarticle.rating %></td>
      <td><%= revarticle.price %></td>
      <td><%= revarticle.typefood.name if revarticle.typefood%></td>
      <td><%= revarticle.location %></td>
      <td align="center">
        <% if revarticle.approved == true %>
          <%#= revarticle.approved %>
          <i class="fas fa-check"></i>
        <% elsif (revarticle.approved == false) && (revarticle.message.nil? ) %>
              <span class="badge badge-secondary">Pending..</span>
        <% else %>
              <i class="fas fa-times"></i>
              <p>Comment: <%= revarticle.message %></p>
        <% end %>
      </td>
      <td><%= link_to 'Show', revarticle %></td>
      <td><%= link_to 'Edit', edit_revarticle_path(revarticle) %></td>
      <td><%= link_to 'Destroy', revarticle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Revarticle', new_revarticle_path %>
