<!DOCTYPE html>
<html>
<head>
	<title>Google News</title>
</head>
<body>
	<div class="container">
		<br>
		<h2 align="center">Google News</h2>
	  <!-- Content here -->
	   <h3>Category :<%= @category%></h3>
	   <%   count = 0
	       for items in @all_news

	       link = @news_links[count]['href']
           link[0] = '' 
           alink = 'https://news.google.com'+ link
	   %> 
		 	 <div class="card">
		        <div class="row no-gutters">
		            <div class="col-auto">
		                <img src="<%= @news_pic[count]['src'] %>" class="img-fluid" width="120" height="100" alt="no image">
		            </div>
		            <div class="col">
		                <div class="card-block px-2">
		                    <h4 class="card-title"><%= items.text %></h4>
		                    <p class="card-text"> <a href="<%= alink%>" target="_blank">view more</a></p>
		                </div>
		            </div>
		        </div>		       
		    </div>
		    <br>
	   <% count=count+1
	      end %>
	
	</div>
	
    <!--footer-->
	<p style="margin-top: 100px;display: block;">
		<a href="https://validator.w3.org/check?uri=<%= request.url%>"><img
	   src="http://www.w3.org/Icons/valid-html401"
	    alt="Valid XHTML 1.0!" /></a> 
	</p>
</body>
</html>