<!DOCTYPE html>
<html>
  <head>
    <title>Assignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
     <!--footer-->
    <p>
      <center><a href="https://validator.w3.org/check?uri=<%= request.url%>"><img
       src="http://www.w3.org/Icons/valid-html401"
        alt="Valid XHTML 1.0!" /></a></center> 
    </p>
  </body>
</html>
