<%= form_with(model: revarticle, local: true, html: { multipart: true }) do |form| %>
  <% if revarticle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(revarticle.errors.count, "error") %> prohibited this revarticle from being saved:</h2>

      <ul>
      <% revarticle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label 'Important Ingredients' %>
    <%= form.text_field :ingredient %>
  </div>
 <div class="field">
   Type of Food
   <%= select_tag "typefood", options_for_select(@typefood.collect{ |f| [f.name, f.id]}, :selected=> revarticle.typefood_id), {:class =>"select_combobox", prompt: " --- Select ---" }%>
 </div>
  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <div class="field">
    <%= form.label :img_path %><br>
    <%= form.file_field :img_path %>
    <% if form.object.img_path? %>
      <%= image_tag form.object.img_path.url %>
      <%= form.label :remove_img_path %>
      <%= form.check_box :remove_img_path %>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
