<br><br>
<h3>Previous Versions</h3>

<table class='table'>
  <thead>
  <tr>
    <th>Index</th>
    <th>Date</th>
    <th>Author</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% revarticle.versions.reverse.each do |version| %>
    <tr>
      <td><%= version.index %></td>
      <td><%= version.created_at %></td>
      <td><%= find_version_author_name(version) %></td>
      <td><%= version.event.humanize %></td>
      <td><%= link_to 'Diff', diff_revarticle_version_path(revarticle, version) %></td>
      <td><%= link_to 'Rollback', rollback_revarticle_version_path(revarticle, version), method: 'PATCH' %></td>
    </tr>
  <% end %>
  </tbody>
</table>