<p id="notice"><%= notice %></p>
<p>
  <strong>Author:</strong>
  <a href="/articles/user/<%= @revarticle.user_id %>"><%= @revarticle.user.firstname %> <%= @revarticle.user.lastname %></a>
</p>
<p>
  <strong>Title:</strong>
  <%= @revarticle.title %>
</p>

<div class="row"  >
  <%if @revarticle.img_path.url != nil %>
    <%= image_tag(@revarticle.img_path.url, alt: 'Image',height:  400) %>
  <% end %>
</div>
<p>
  <strong>Content:</strong>
  <%= @revarticle.content %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @revarticle.rating %>
</p>

<p>
  <strong>Price:</strong>
  <%= @revarticle.price %>
</p>
<p>
  <strong>Important Ingredients:</strong>
  <%= @revarticle.ingredient %>
</p>
<p>
  <strong>Food Type:</strong>
  <%= @revarticle.typefood.name if @revarticle.typefood %>
</p>

<p>
  <strong>Location:</strong>
  <%= @revarticle.location %>
</p>
<% if !@comments.empty? %>
<h2>Comments</h2>
<table>
  <thead>
  <tr>
    <th>Comment</th>
  </tr>
  </thead>
  <tbody>
  <%# @revarticle.comments.each do |comment_item| %>
<!--    <tr>-->
<!--      <td><%#= comment_item.comment %>  &nbsp;&nbsp; <%#= comment_item.user_id %></td>-->
<!--    </tr>-->
  <%# end %>

  <% @comments.each do |key|  %>
      <tr>
        <td><%= key['comment'] %>  &nbsp;&nbsp; posted by ( <%= key['firstname']+ ' '+ key['lastname'] %> ) <%= key['updated_at'].to_time.strftime("%A, %d %b %Y %l:%M %p") %> </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>
<br/>
<% if user_signed_in? %>
  <h2>Add a comment:</h2>
  <%= form_for([@revarticle, @revarticle.comments.build]) do |f|%>
    <div class="field">
      <%= f.label :comment %>
      <br/>
      <%= f.text_field :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
<% if user_signed_in?
     role_user = current_user.role.name if current_user.role
     if role_user == "Admin" %>
       <%= link_to 'Edit', edit_revarticle_path(@revarticle) %> |
    <% elsif current_user.id == @revarticle.user_id %>
       <%= link_to 'Edit', edit_revarticle_path(@revarticle) %> |
    <% end %>
<% end %>
<%= link_to 'Back', homepage_path %>
