<!-- Font Awesome Icon Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .checked {
    color: orange;
  }
</style>

<p id="notice"><%= notice %></p>
<%
  posted_name = ''
  if @revarticle.user.firstname.nil?
    posted_name = @revarticle.user.email
  else
    posted_name = @revarticle.user.firstname+' '+@revarticle.user.lastname
  end
  avg_rating_str = ''
  avg_rating = @user_rating[0]["avg_rating"].to_f
  if avg_rating != 0
    # avg_rating.round(2).to_s[0..2].to_f
    avg_rating = avg_rating.round(2)
    avg_rating_str = 'Avg Rating: '+avg_rating.to_s
  end
%>
<div class="container">
  <br>
  <h3 class="text-center"> <%= @revarticle.title %> </h3>
  <p class="text-center"> <%= avg_rating_str %></p>
   <!--Image-->
    <%if @revarticle.img_path.url != nil %>
      <div align="center"><%= image_tag(@revarticle.img_path.url, alt: 'Image',height:  350) %></div>
    <% end %>
  <br>
  <!--Content-->
  <p>
    <%= raw(@revarticle.content) %>
  </p>
  <p>
    <strong>Rating:</strong>
    <%= @revarticle.rating %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @revarticle.price %>
  </p>
  <p>
    <strong>Important Ingredients:</strong>
    <%= @revarticle.ingredient %>
  </p>
  <p>
    <strong>Food Type:</strong>
    <%= @revarticle.typefood.name if @revarticle.typefood %>
  </p>
  <p>
    <strong>Location:</strong>
    <%= @revarticle.location %>
  </p>
  <div align="right">
    <p> updated on <%= @revarticle.updated_at.to_time.strftime("%A, %d %b %Y ") %> posted by:
      <a href="/articles/user/<%= @revarticle.user_id %>"><%= posted_name %></a>

    </p>
  </div>
<% if !@comments.empty?
   comment_size = @comments.length
   comment_str = 'Comments'
   if comment_size == 1
     comment_str = 'Comment'
   end
%>
<h4> <%= comment_size %> <%= comment_str%></h4>

  <% @comments.each do |key|
      if key['firstname'].nil?
       name = key['email']
      else
       name = key['firstname']+ ' '+ key['lastname']
      end
      rating_str = ''
      if !key['rating'].nil?
       rating = key['rating'].to_s
       rating_str = '('+rating +' stars )'
      end
  %>
      <p><%= key['comment'] %> <%= rating_str %></p>
      <div align="right">
      <small> commented on  <%= key['updated_at'].to_time.strftime("%A, %d %b %Y %l:%M %p") %>
              by <%= name %>
        </small>
      </div>
      <hr>
  <% end %>
<!
<% end %>
<br/>
<% if user_signed_in? %>
  <h4>Add a comment:</h4>
  <%= form_for([@revarticle, @revarticle.comments.build]) do |f|%>
      <div class="form-group">
      <%= f.label 'Your Comment' %>
      <br/>
      <%= f.text_area :comment,:class => 'form-control'  %>
        <p class="error_comment"></p>
    </div>
      <%= f.hidden_field :rating, :id => "hiddenRating"%>
      <p>
      Rating:
      <span class="fa fa-star" id="star1" onclick="add(this,1)"></span>
      <span class="fa fa-star" id="star2" onclick="add(this,2)"></span>
      <span class="fa fa-star" id="star3" onclick="add(this,3)"></span>
      <span class="fa fa-star" id="star4" onclick="add(this,4)"></span>
      <span class="fa fa-star" id="star5" onclick="add(this,5)"></span>
      </p>
      <div class="actions">
      <%= f.submit 'Post Your Comment', :onclick => "return validateform();", class: 'btn btn-success' %>
    </div>
  <% end %>
<% end %>
<br>
<% if user_signed_in?
     role_user = current_user.role.name if current_user.role
     if role_user == "Admin" %>
       <%= link_to 'Edit', edit_revarticle_path(@revarticle) %> |
    <% elsif current_user.id == @revarticle.user_id %>
       <%= link_to 'Edit', edit_revarticle_path(@revarticle) %> |
    <% end %>
<% end %>
  <%= link_to 'Back', homepage_path%>
  <br><br>
</div>

<script>
    function add(ths,sno){
        for (var i=1;i<=5;i++){
            var cur=document.getElementById("star"+i)
            cur.className="fa fa-star"
        }

        for (var i=1;i<=sno;i++){
            var cur=document.getElementById("star"+i)
            if(cur.className=="fa fa-star")
            {
                cur.className="fa fa-star checked"
            }
        }
        $('#hiddenRating').val(sno);
        // document.getElementById("hiddenRating").value = sno;
    }
    function validateform(){
        if(document.getElementById("comment_comment").value == ''){
            message = "Comment should not be blank";
            $('p.error_comment').html(message);
           return false;
        }
    }
</script>